@import 'plain-theme.scss';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background: var(--background);
}

input,
textarea,
button,
select {
	font: inherit;
}

img,
svg,
video,
iframe,
picture,
canvas {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

p {
	font-size: 0.9em;
	color: var(--color-paragraph);
}
